@model BMIWebUI.Models.Document

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Documents</h2>
<script type="text/javascript">
    function showErrorMessage(sCall, sType, sError, jqXHR) {
        //Temporary
        alert(sError);
    }
    function getDocuments(clbk) {
        $.getJSON("/api/documents")
            .done(function (data) {
                clbk(data);
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                //alert('Status: ' + textStatus + ', Error: ' + errorThrown);
                showErrorMessage("getDocuments", "ERROR", 'Status: ' + textStatus + ', Error: ' + errorThrown);
            });
    }

    function clbk_getDocuments(data) {
        var hrefAppList = $('#appList');
        hrefAppList.empty();

        $.each(data, function (key, item) {
            var documentRow = $('#documentRow').clone().attr('id', 'documentRow' + item.DocumentId).show();
            documentRow.find('#documentId').text(item.DocumentId);
            documentRow.find('#documentName').text(item.DocumentName);
            var btnSignNow = documentRow.find('#btnSignNow');
            btnSignNow.data("documentId", item.DocumentId);
            btnSignNow.off("click").click(handleSignNowClick);
            var btnSendToSign = documentRow.find('#btnSendToSign');
            btnSendToSign.data("documentId", item.DocumentId);
            btnSendToSign.off("click").click(handleSendToSignClick);
            $('#documentsTable').find('tbody').append(documentRow);
        });
    }

    function handleSignNowClick() {
        var documentId = $(this).data("documentId");
        selectedDocumentId = documentId;
        signingMode = "signNow";
        showRecipientsModal();
    }

    function handleSendToSignClick() {
        var documentId = $(this).data("documentId");
        selectedDocumentId = documentId;
        signingMode = "sendToSign";
        showRecipientsModal();
    }

    function showRecipientsModal() {
        $.when(
            getAsync("/api/documents/" + selectedDocumentId)
        ).then(function (data) {
            $.when(
                getAsync(docuSignApiBaseUrl + "/api/templates/" + data.DocuSignTemplateId + "/recipients")
            ).then(function (recipients) {
                $.each(recipients, function (jey, recipient) {
                    var recipientRow = $('#recipientRow').clone().attr('id', 'recipientRow' + recipient.RecipientID).show();
                    recipientRow.find('#roleName').text(recipient.RoleName);
                    recipientRow.find('#userName').text(recipient.UserName);
                    recipientRow.find('#userEmail').text(recipient.Email);
                    $('#recipientsTable').find('tbody').append(recipientRow);
                });

                $('#sendToSignModal').modal({ show: true, backdrop: 'static', keyboard: false });
            });
        });
    }

    function createNewDocuSignEnvelopeRequest(documentId, documentName, documentPdfBase64Encoded, docuSignTemplateId, signInPlaceYN) {
        var requestData = {
            "DocumentUniqueId": documentId,
            "DocumentName": documentName,
            "DocumentPdfBase64Encoded": documentPdfBase64Encoded,
            "DocuSignTemplateId": docuSignTemplateId,
            "EnvelopeSubject": "Please sign this document",
            "SignInPlaceYN": signInPlaceYN,
            "SignInPlaceReturnUrl": signInPlaceReturnUrl,
            "Signers": []
        };

        $('#recipientsTable > tbody  > tr').each(function () {
            var roleName = $(this).find('#roleName').text();
            var userName = $(this).find('#userName').val();
            var userEmail = $(this).find('#userEmail').val();
            requestData.Signers.push({
                "TemplateID": document.DocuSignTemplateId,
                "RoleName": roleName,
                "UserName": userName,
                "Email": userEmail,
                "RequiredYN": true,
                "LockedYN": true
            });
        });

        return requestData;
    }

    function handleSubmit() {
        if (signingMode === "signNow") {
            handleSubmitSignNow();
        } else if (signingMode === "sendToSign") {
            handleSubmitSendToSign();
        }
    }

    function handleSubmitSendToSign() {
        $.when(
            getAsync("/api/documents/" + selectedDocumentId),
            getAsync("/api/documents/" + selectedDocumentId + "/blob")
        ).then(function (document, blob) {
            var requestData = createNewDocuSignEnvelopeRequest(selectedDocumentId, document.DocumentName, blob.DocumentPdfBase64Encoded, document.DocuSignTemplateId, false);

            $.when(
                postAsync(docuSignApiBaseUrl + "/api/envelopes", requestData)
            ).then(function (response) {
                alert(response.SuccessYN);
            });
        });
    }

    function handleSubmitSignNow() {
        $.when(
            getAsync("/api/documents/" + selectedDocumentId),
            getAsync("/api/documents/" + selectedDocumentId + "/blob")
        ).then(function (document, blob) {
            var requestData = createNewDocuSignEnvelopeRequest(selectedDocumentId, document.DocumentName, blob.DocumentPdfBase64Encoded, document.DocuSignTemplateId, true);

            $.when(
                postAsync(docuSignApiBaseUrl + "/api/envelopes", requestData)
            ).then(function (response) {
                alert(response.SuccessYN);
                var firstInPlaceSigner = response.InPlaceSigners[0];
                $.when(
                    getAsync(docuSignApiBaseUrl + "/api/envelopes/" + response.EnvelopeId + "/inplacesignurl/" + firstInPlaceSigner.ClientUserId + "?signInPlaceReturnUrl=" + signInPlaceReturnUrl)
                ).then(function (inplaceSignerResponse) {
                    alert(inplaceSignerResponse.SigningUrl);
                });
            });
        });
    }

    function getAsync(resource) {
        var headers = new Headers();
        var options = {
            method: 'GET',
            mode: 'cors'
        };
        return fetch(resource, options)
            .then(this.handleErrors)
            .then((response) => response.json())
            .catch((error) => console.log(error.message));
    }

    function postAsync(resource, data) {
        var headers = new Headers();
        headers.set('Content-Type', 'application/json');
        var options = {
            method: 'POST',
            mode: 'cors',
            headers: headers,
            body: JSON.stringify(data)
        };
        return fetch(resource, options)
            .then((response) => response.json());
    }

    var docuSignApiBaseUrl = '@System.Configuration.ConfigurationManager.AppSettings["DocuSignApiBaseUrl"]';
    var signInPlaceReturnUrl = '@System.Configuration.ConfigurationManager.AppSettings["SignInPlaceReturnUrl"]';
    var selectedDocumentId = -1;
    var signingMode = "";
    $(document).ready(function () {
        getDocuments(clbk_getDocuments);
        $('#btnSubmit').click(handleSubmit);
    });
</script>
<style type="text/css">
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Document List</div>
            <div class="panel-body">
                <table id="documentsTable" class="table table-condensed">
                    <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="sendToSignModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Send to Sign</h4>
            </div>
            <div class="modal-body">
                <table id="recipientsTable" class="table table-condensed">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Role</th>
                            <th>Name</th>
                            <th>E-Mail</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="btnSubmit" type="button" class="btn btn-primary">Submit</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@* html snippet templates *@
<table style="visibility: hidden;">
    <tr id="documentRow">
        <td><i id="documentIcon" class="fa fa-file"></i></td>
        <td><span id="documentId"></span></td>
        <td><span id="documentName"></span></td>
        <td>
            <button id="btnSignNow" class="btn btn-xs btn-primary ptBtn" type="button">Sign Now</button>
            <button id="btnSendToSign" class="btn btn-xs btn-primary ptBtn" type="button">Send to Sign</button>
        </td>
    </tr>
</table>
<table style="visibility: hidden;">
    <tr id="recipientRow">
        <td><i id="recipientIcon" class="fa fa-signing"></i></td>
        <td><span id="roleName"></span></td>
        <td><input type="text" id="userName" /></td>
        <td><input type="email" id="userEmail" /></td>
    </tr>
</table>